


.jumbotron{
    background-color: rgba(23, 132, 255, 0.45);
}

ul{
    font-size: 22px;
}

/* Cover */
.cover {
  padding: 0 20px;
}

.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}

