<!-- upload.html -->

{% load staticfiles %}
<body>
{% include "navbar.html" %}

<link rel="stylesheet" type="text/css" href="{% static 'C:\Users\B\Desktop\skillshare\static\static\css\bootstrap.min.css' %}" />

<link rel="stylesheet" type="text/css" href="{% static 'C:\Users\B\Desktop\skillshare\static\static\css\starter-template.css' %}" />

{% block content %}

<h1>Sup Muhfker!!</h1>
<form method="POST" action=""> {% csrf_token %}
    {{form.as_p}}
    <input type="submit">
</form>
{% endblock %}

</body>